src/main/mule/scatter-gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5f848a3-e5b5-43aa-b84c-78047fea5000" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="scatter-gatherFlow" doc:id="6bdd1917-b6a7-4f8d-aa96-16f0c7d08914" >
		<http:listener doc:name="Listener" doc:id="f1094e1d-8caf-491f-ac8f-a282cc63e3c8" config-ref="HTTP_Listener_config" path="/scatter-gather" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="380f4985-6f89-4969-996f-c11351c8475d" message="#[payload]"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="be23e271-9357-4d4a-a041-b290cef46185" >
			<route >
				<try doc:name="Try" doc:id="78d2d1f3-e6e3-405e-9a61-5852e0641760" >
					<set-variable value="#[payload.firstNumber * payload.secondNumber]" doc:name="Set Variable" doc:id="f7d1b582-8787-4e46-bbeb-a918d5934ab5" variableName="result" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bbaf8882-f82a-4e02-b8ff-9750a6f310c5" >
							<logger level="INFO" doc:name="Logger" doc:id="7451a404-d1c6-46ae-9e0a-7c8fb2e399e6" message="successs"/>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="99cbb22a-116a-48fa-8def-f28fea8d4a3a" >
					<set-variable value="#[payload.firstNumber + payload.secondNumber]" doc:name="Set Variable" doc:id="4793d7f6-5bbe-40b2-b59b-2f05f8a4853c" variableName="result" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="74aa23b0-ac22-4e48-aff3-9d1b15694040" >
							<logger level="INFO" doc:name="Logger" doc:id="2d458581-4bc3-48fe-908e-3abed43770fa" message="multiply successs"/>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="b4d459ad-c533-4676-b2a0-0a84ed5fc2f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.result]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
